{% extends 'base.html' %}
 
{% block content %}

<div class="container">
    <div class="row row-cols-1 justify-content-start">
    <div class="col-3 justify-content-start">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }}:<br> {{ field }}</p>
            {{ field.errors }}
        {% endfor %}
    
        <p ><button type="submit" class="btn btn-primary btn-block">Сохранить</button></p>
    </form>
    </div>
    </div>
</div>
 
{% endblock %}