{% extends 'base.html' %}
{% block content %}
<h1>Страница редактирования курса</h1>

<div class="container">
    <div class="row">
        <div class="col-12"><h3>Название курса: {{ courses.name }}</h3></div>
    </div>
    {% for key,item in lessons.items %}
       {% for item2 in item %}
       {% if forloop.first %}
    <div class="row" style="background-color: #FAEE72; padding: 2px 0px;">
        <div class="col-4">
            <p><strong>Название главы:</strong></p>
        </div>
        <div class="col-8">
            {{ item2.0.name }}
        </div>
    </div>
    <div class="row" style="background-color: #FDF6BA; padding: 2px 0px;">
        <div class="col-4">
            <p><strong>Описание главы:</strong></p>
        </div>
        <div class="col-8">
            {{item2.0.description}}
        </div>
    </div>
    <div class="row" style="background-color: #337BA6; padding: 5px 0px;">
        <div class="col-1 justify-content-start"></div>
        <div class="col-3">
            <strong></strong>
        </div>
        <div class="col-8">
            <strong></strong>
        </div>
    </div>
        {% endif %}
        {% if forloop.first is False  %}
        {% for item3 in item2%}
    <div class="row" style="background-color: #94C6E4; padding: 5px 0px;">
        <div class="col-1 justify-content-start"></div>
        <div class="col-3 justify-content-start">
            {{item3.name}}
        </div>
        <div class="col-8 justify-content-start">
            {{item3.description}}
        </div>
    </div>
        {% if forloop.last %}
    <div class="row justify-content-end" style="background-color: #94C6E4; padding: 5px 0px;">
        <div class="col-4"></div>
        <div class="col-8">
            <a class="btn btn-primary" href="{%url 'create_lesson' courses.pk item3.chapter.pk%}">Добавить урок</a>
        </div>
    </div>
        {% endif %}
        {% empty %}
    <div class="row justify-content-end" style="background-color: #94C6E4; padding: 5px 0px;">
        <div class="col-4"></div>
        <div class="col-8">
            <a class="btn btn-primary" href="{%url 'create_lesson' courses.pk item.0.0.pk%}">Добавить урок</a>
        </div>
    </div>
        {% endfor %}
        {% endif %}
    {% empty %}
    <div class="row justify-content-end">
        <div class="col-12 justify-content-start">
            <a class="btn btn-primary" href="{%url 'create_chapter' courses.pk%}">Добавить главу</a>
        </div>
    </div>
    {% endfor %}
    <br>
    <br>
    {% if forloop.last %}
    <div class="row justify-content-end">
        <div class="col-12 justify-content-start">
            <a class="btn btn-primary" href="{%url 'create_chapter' courses.pk%}">Добавить главу</a>
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div>
{% endblock %}