{% extends 'base.html' %}
{% block content %}
<h1>Страница создания варианта ответа</h1>
<h3>Шаблон: lessons\templates\lessons\createchoices.html</h3>
<h3>Контроллер  lessons\view.py "CreateChoices()"</h3>
<br>
<div class="container">
    <div class="row justify-content-start" style="background-color: #149EA6;">
        <div class="col-lg-4 border"> <h4>Курс: {{ question.test_id.lesson.chapter.course.name }} </h4> </div>
        <div class="col-lg-4 border"><h4>ID курса: {{ question.test_id.lesson.chapter.course.pk }}</h4></div>
        <div class="col-lg-4 border"></div>
    </div>
    <div class="row justify-content-start" style="background-color: #149EA6;  padding: 5px 0px;">
        <div class="col-lg-12"></div>
    </div>
    <div class="row justify-content-start" style="background-color: #84B9BC;">
        <div class="col-lg-1 border"></div>
        <div class="col-lg-4 border"><p><strong>Урок: {{ question.test_id.lesson.name }} </strong></p></div>
        <div class="col-lg-4 border"><p><strong>ID урока: {{ question.test_id.lesson.pk }} </strong></p></div>
        <div class="col-lg-3 border"></div>
    </div>
    <div class="row justify-content-start" style="background-color: #84B9BC;  padding: 5px 0px;">
        <div class="col-lg-12"></div>
    </div>
    <div class="row justify-content-start" style="background-color: #9CD6DA;">
        <div class="col-lg-2 border"></div>
        <div class="col-lg-4 border"><p><strong>Упражнение: {{ question.test_id.name }} </strong></p></div>
        <div class="col-lg-4 border"><p><strong>ID упражнения: {{ question.test_id.pk }} </strong></p></div>
        <div class="col-lg-2 border"></div>
    </div>

    <div class="row" style="background-color: #E1D667; padding: 8px 0px;">
        <div class="col-12"></div>
    </div>
    <div class="row" style="background-color: #FAEE72; padding: 2px 0px;">
        <div class="col-1 border"><p class="text-center">{{ question.num_question }}</p></div>
        <div class="col-7 border"><p><strong>{{ question.description_ques }}</strong></p></div>
        <div class="col-2 border"><p class="text-center">Тип: {% if question.type_question == "TEST" %} ТЕСТ {% else %} ТЕСТ2 {% endif %}</p></div>
        <div class="col-2 border"></div>
    </div>
    <div class="row" style="background-color: #FAEE72; padding: 2px 0px;">
        <div class="col-12"><p class="text-center"></p></div>
    </div>

        <div class="row justify-content-start"><div class="col-lg-12" style="background-color: #FAEE72; padding: 2px 0px;"></div></div>
    <div class="row justify-content-start">
        <div class="col-lg-2" style="background-color: #FAEE72; padding: 2px 0px;"></div>
        <div class="col-lg-8">
        <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }}:<br> {{ field }}</p>
            {{ field.errors }}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Создать ответ</button>
        </form>
        </div>
        <div class="col-lg-2" style="background-color: #FAEE72; padding: 2px 0px;"></div>
    </div>
    <div class="row justify-content-start">
        <div class="col-lg-12" style="background-color: #FAEE72; padding: 2px 0px;"></div>
    </div>
</div>
{% endblock %}